body {
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
}

input {
    margin-top: 1rem;

}

input::placeholder {
    text-align: center;
}

button {
    margin-top: 1rem;
}
 button .btn-primary {
    text-align: center;
 }
 .input-column {
    text-align: center;
 }

 #past-results {
    text-align: center;
    margin-top: 2rem;
 }

/* TA Sean helped with modifying CSS to style page correctly */
.five-day-forecast-card {
    display: flex;
}
